<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <table>
    <tr>
      <td>
        <div>
          <% if current_user.avatar_file_name %>
            <%= image_tag current_user.avatar.url(:small) %>
          <% else %>
            <%= image_tag "../assets/userAvatar.png" %>
          <% end %>
          <br />
          <%= f.file_field :avatar %>
        </div>
      </td>
      <td>
        <div>
            <%= label_tag "Full Name" %><br />
            <%= f.text_field :first_name, title: "First Name", rel: "tooltip" %>
            <%= f.text_field :last_name, title: "Last Name", rel: "tooltip" %>
          </div>

          <div><%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, disabled: true %></div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div><%= label_tag "New Password" %> <br />
            <%= f.password_field :password, autocomplete: "off", placeholder: "*********",
              title: "leave blank if you don't want to change it", rel: "tootip" %></div>

          <div><%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "*********" %></div>

          <div><%= f.label :current_password %> <br />
            <%= f.password_field :current_password, autocomplete: "off", placeholder: "*********",
              title: "we need your current password to confirm your changes", rel: "tootip" %></div>

          <div><%= f.submit "Update" %></div>

      </td>
    </tr>
  </table>
          
<% end %>

<%= link_to "Back", :back %>
