<h2><%= t("user.registration.signup") %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <table>
    <tr>
      <td>
        <%= image_tag "../assets/userAvatar.png" %> <br/>
        <%= f.file_field :avatar, accept: 'image/png, image/gif, image/jpeg, image/jpg' %>
      </td>
      <td>
        <table style="width: 270px">
          <tr>
            <td>
              <%= label_tag t("user.registration.full_name") %>
            </td>
            <td>
              <%= f.text_field :first_name, placeholder: t("user.registration.first_name"), style: "width: 83px;" %><%= f.text_field :last_name, placeholder: t("user.registration.last_name"), style: "width: 83px;" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= label_tag t("user.registration.email") %>
            </td>
            <td>
              <%= f.email_field :email, autofocus: true, placeholder: t("user.registration.email") %>
            </td>
          </tr>
          <tr>
            <td>
              <%= label_tag t("user.registration.password") %>
            </td>
            <td>
              <%= f.password_field :password, autocomplete: "off", placeholder: "*********" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= label_tag t("user.registration.confirmation") %>
            </td>
            <td>
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "*********" %>
            </td>
          </tr>
          <tr>
            <table style="width: 100%; text-align: center; margin-top: 20px">
              <tr>
                <td>
                  <%= image_tag('../assets/customer.png') %>
                </td>
                <td>
                  <%= image_tag('../assets/staff.png') %>
                </td>
              </tr>
              <tr>
                <% ['customer', 'staff'].each do |role| %>
                  <td style="width: 50%">
                    <%= f.radio_button(:role, role) %>
                    <% if role=='customer' %>
                      <%= t("user.registration.customer") %>
                    <% else %>
                      <%= t("user.registration.staff") %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            </table>                
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <%= f.submit "Sign up", type: :image, src: '../assets/sign_up_button.png', title: t("user.registration.signup"), rel: 'tooltip' %>
<% end %>
