<table style="width: 100%">
	<tr>
		<td style="border: 1px solid black;">
			<table style="width: 100%;">
				<tr>
					<td>
						<embed src="<%= asset_path("../assets/banner-new-fix.swf") %>", style="margin-left: 5px; margin-top: 5px; margin-bottom: 5px; width: 80px; height: 80px"/>
					</td>
					<td>
						<div style="margin-left: 20px;">
							<%= t('invoice.provider') %>
							<%= raw(": <strong>Sở Khoa Học và Công Nghệ Bến Tre</strong>") %> <br />
							<%= t('invoice.provider_address') %>
							: Số 280 đường 3/2- Phường 3 - Tp Bến Tre <br />
							<%= t('invoice.provider_phone') %>
							: 075.3827358 | Fax : 075.3823179 <br />
							<%= t('invoice.tax_number') %>
							: ........... <br />
							<%= t('invoice.bank_account') %>
							: ........... - NH BIDV tỉnh Bến Tre
						</div>							
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style="border: 1px solid black;">
			<div style="text-align: center; margin-bottom: 20px;"><h3><strong><%= t("invoice.invoice_show_label") %></strong></h3>
				<%= t("invoice.created_at") + ":" %>
				<%= @invoice.created_at.strftime("%d/%m/%Y") %>
			</div>
		</td>
	</tr>
	<tr>
		<td style="border: 1px solid black; height: 40px;">
			<div style="margin-left: 5px;">
				<%= t("invoice.buyer") + ": " + @invoice.user.first_name + " " + @invoice.user.last_name %>
			</div>			
		</td>
	</tr>
	<tr>
		<td style="border: 1px solid black;">
			<table style="width: 100%">
				<thead>
			    <tr>
			    	<th style="border: 1px solid black; text-align: center"><%= t("invoice.stt") %></th>
			      <th style="border: 1px solid black; text-align: center"><%= t("invoice.project") %></th>
			      <td style="border: 1px solid black; text-align: center"><%= t("invoice.expire") %></th>
			      <th style="border: 1px solid black; text-align: center"><%= t("invoice.price") %></th>
			    </tr>
			  </thead>
			  <tbody>
			  	<% flag = 0 %>
			  	<% price = 0 %>
			  	<% @invoice.projects.each do |project| %>
			  		<tr style="height: 30px;">
			  			<td style="border: 1px solid black; text-align: center">
			  				<%= flag += 1 %>
			  				<% price += project.price %>
			  			</td>
			  			<td style="border: 1px solid black">
			  				<%= link_to truncate(project.title, length: 30), project, style: "margin-left: 5px;", title: project.title, rel: 'tooltip' %>
			  			</td>
			  			<td style="border: 1px solid black; text-align: center">
			  				<%= @invoice.from_date.strftime("%d/%m/%Y") + " => " + @invoice.end_date.strftime("%d/%m/%Y")%>
			  			</td>
			  			<td style="border: 1px solid black; text-align: center">
			  				<%= project.price %>
			  			</td>
			  		</tr>
			  	<% end %>
			  </tbody>
			</table>
		</td>
	</tr>
	<tr style="height: 30px;">
		<td style="border: 1px solid black;">
			<table style="width: 100%">
				<tr>
					<td style="text-align: center; width: 70%;">
						<%= t("invoice.total_price") %>
					</td>
					<td>
						<%= price %>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style="border: 1px solid black;">
			<div style="margin-top: 10px; margin-bottom: 10px;">
				<table style="text-align: center; width: 100%;">
					<tr>
						<td style="text-align: center">
							<%= t("invoice.buyer") %>
							<br />
							<br />
							<br />
							<br />
							<br />
							<%= @invoice.user.first_name + " " + @invoice.user.last_name %>
						</td>
						<td style="text-align: center">
							<%= t("invoice.seller") %>
							<br />
							<br />
							<br />
							<br />
							<br />
							Nguyễn Thị A
						</td>
					</tr>
				</table>
			</div>				
		</td>
	</tr>
</table>
