<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table style="width: 100%">
    <thead>
      <tr>
        <th style="text-align: left">Project</th>
        <th style="text-align: left">Price</th>
      </tr>
    </thead>
    <tbody>
      <% session[:storage].each do |id| %>
        <% project = Project.find(id) %>
        <tr>
          <td>
            <%= truncate(project.title, length: 20) %>
          </td>
          <td>
            <%= project.price %>
          </td>
          <td>
            <%= link_to image_tag("../assets/delete.png"), remove_project_out_invoice_invoices_path(project_id: project.id), method: :post, data: { confirm: "Do you really want to remove project \"" + project.title + "\"" } %>
          </td>
        </tr>
      <% end %>
    </tbody>      
  </table>

  <div class="field">
    <%= f.label :from_date %><br>
    <%= f.date_select :from_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>

  <div class="field">
    <%= f.label :download_time %> <br />
    <table style="width: 100%">
      <tr>
        <td style="text-align: center">
          <%= image_tag("../assets/battery100.png") %>
        </td>
        <td style="text-align: center">
          <%= image_tag("../assets/battery80.png") %>
        </td>
        <td style="text-align: center">
          <%= image_tag("../assets/battery60.png") %>
        </td>
        <td style="text-align: center">
          <%= image_tag("../assets/battery40.png") %>
        </td>
        <td style="text-align: center">
          <%= image_tag("../assets/battery20.png") %>
        </td>
      </tr>
      <tr>
        <% ['100', '80', '60', '40', '20'].each do |t| %>
          <td style="text-align: center">
            <% if t=='100' %>
              <%= f.radio_button(:download_time, t, checked: true) %>
            <% else %>
              <%= f.radio_button(:download_time, t) %>
            <% end %>            
            <%= t.humanize %>
          </td>            
        <% end %>
      </tr>
    </table>        
  </div>    

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
