<div style="text-align: center">
  <h3><strong><%= t("invoice.invoice_listing") %></strong></h3>
</div>
<br />
<br />
<% if !@invoices.nil? %>
  <table style="width: 100%;">
    <thead>
      <tr>
        <th></th>
        <th style="text-align: left"><%= t("invoice.created_at") %></th>
        <th style="text-align: center"><%= t("invoice.amount_of_projects") %></th>
        <th style="text-align: center"><%= t("invoice.download_time") %></th>
      </tr>
    </thead>

    <tbody>    
      <% @invoices.each do |invoice| %>
        <tr>
          <td>
            <%= link_to image_tag('../assets/invoice.png'), invoice %>
          </td>
          <td>
            <%= link_to invoice.created_at.strftime("%d/%m/%Y") %>
          </td>
          <td style="text-align: center">
            <%= link_to invoice.invoicedetails.count %>
          </td>
          <td style="text-align: center">
            <%= link_to invoice.download_time %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
  