<h1></h1>

<table style="width: 100%;">
  <thead>
    <tr>
      <th></th>
      <th style="text-align: left"><%= t("invoice.from_date") %></th>
      <th style="text-align: left"><%= t("invoice.end_date") %></th>
      <th><%= t("invoice.amount_of_projects") %></th>
      <th><%= t("invoice.download_time") %></th>
    </tr>
  </thead>

  <tbody>    
    <% @invoices.each do |invoice| %>
      <tr>
        <td>
          <%= link_to image_tag('../assets/invoice.png'), invoice %>
        </td>
        <td>
          <%= link_to invoice.from_date.strftime("%d/%m/%Y") %>
        </td>
        <td>
          <%= link_to invoice.end_date.strftime("%d/%m/%Y") %>
        </td>
        <td style="text-align: center">
          <%= link_to invoice.invoicedetails.count %>
        </td>
        <td style="text-align: center">
          <%= link_to invoice.download_time %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>