<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @invoice.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @invoice.content %>
</p>

<p>
  <strong>Note:</strong>
  <%= @invoice.note %>
</p>

<p>
  <strong>Status:</strong>
  <%= @invoice.status %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
