<%= form_tag add_new_procategory_procategories_path(procategory_id: @procategory.id), method: :post do %>  
  <%= text_field_tag :ddc, params[:ddc], style: "width: 30%;", placeholder: t("procategory.ddc") %> 
  <%= text_field_tag :name, params[:name], style: "width: 68.3%;", placeholder: t("procategory.name") %>  
  
  <div id="wmd-preview" class="wmd-panel"></div>
  <div id="wmd-editor" class="wmd-panel">
    <div id="wmd-button-bar"></div>
    <%= text_area_tag :description, params[:description], placeholder: t("procategory.description"), style: "height: 200px;", id: "wmd-input" %>
  </div>
  <div id="wmd-output" class="wmd-panel"></div>

  <%= submit_tag t("procategory.add_category"), class: "button", style: "margin-top: 20px;" %>
<% end %>