<% flag = @family_tree.count - 1 %>
<%= link_to "...", procategories_path %>
<% while flag >= 0 %>
	<% procategory = @family_tree[flag] %>
	/
	<% if procategory.id == @procategory.id %>
		<%= procategory.name %>
	<% else %>
		<%= link_to procategory.name, procategory %>
	<% end %>	
	<% flag -= 1 %>
<% end %>

<ul>
	<% if @procategory.level > 1 %>
		<li>
			<%= link_to "...", @procategory.procategory %>
		</li>
	<% end %>
	<% @cousins.each do |procategory| %>			
		<% if procategory.id == @procategory.id %>
			<li>
				<%= link_to procategory.name_with_no_projects_ddc, procategory, class: "btn", style: "background: #EFF0EB; font-weight: bold; font-size: 14px; color: black;", title: procategory.description, rel: 'tooltip' %>
			</li>
			<ul>
				<li>
					<a type="button" class="btn" href="#new-procategory-form" data-toggle="modal"><strong style="color: #0066FF;"><%= t("procategory.add_procategory") %></strong></a>
				</li>
				<% @procategory.procategories.each do |child| %>
					<li>
						<%= link_to child.name_with_no_projects_ddc, child, class: "btn", title: child.description, rel: 'tooltip' %>
					</li>
				<% end %>
			</ul>
		<% else %>
			<li>
				<%= link_to procategory.name_with_no_projects_ddc, procategory, class: "btn", title: procategory.description, rel: 'tooltip' %>
			</li>
		<% end %>
	<% end %>
</ul>

<div class="modal fade" id="new-procategory-form">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>New Project Category</h3>
  </div>
  <div class="modal-body">
    <div class="pop-singup">
      <%= render "new_form" %>
    </div>    
  </div>
</div>