<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @procategory.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @procategory.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @procategory.user_id %>
</p>

<%= link_to 'Edit', edit_procategory_path(@procategory) %> |
<%= link_to 'Back', procategories_path %>
