<div class="post">
	<h2 class="title">
		<%= label_tag @project.title %>
	</h2>
	<h3 class="posted"><%= @project.created_at %></h3>
	<div class="story">
		<p>
			<%= raw(@project.description) %>
		</p>
		
		<% if (user_signed_in?) && ( !current_user.is_staff? ) && ((session[:storage].nil?) || (( session[:storage] )&& !( session[:storage].include? @project.id.to_s ))) %>
			<p style="text-align: right">
				<%= link_to image_tag("../assets/buy.png"), invoicedetails_path(project_id: @project.id), method: :post, title: "Click to buy project \""+@project.title+"\"", rel: 'tooltip' %>
			</p>
		<% end %>
	</div>

	<div>
		<h3>feedbacks</h3>

		<ul>
	    <% @feedbacks.each do |feedback| %>
	      <li>
	      	<%= feedback.user.first_name + " " + feedback.user.last_name + ": " %>
	      	<%= feedback.content %><br />
	      	<% if feedback.replies.count > 0 %>
	      		<ul>
		      		<% feedback.replies.each do |reply| %>
			      		<li>
			      			<%= reply.created_at.to_s() + ": " %><%= reply.content %>
			      		</li>
			      	<% end %>
		      	</ul>
	      	<% end %>
	      </li>
	    <% end %>
	    <br />
	    <%= paginate @feedbacks %>
  </ul>

	</div>
	<br />
	<div>
		<% if user_signed_in? && !current_user.is_staff? %>
			<%= render "/feedbacks/form" %>
		<% end %>
	</div>

</div>