<div class="post">
	<h2 class="title">
		<%= label_tag @project.title %>
	</h2>
	<h3 class="posted">
		<%= t("projects.welcome.posted") + ": " + @project.created_at.strftime("%d / %m / %Y") %>
	</h3>
	<div class="story">
		<p>
			<%= raw(@project.description) %>
		</p>

		<% if @invoice %>
			<p style="text-align: right">
				<% download_time = @invoice.download_time %>

				<% case download_time %>
					<% when 1..19 %>
						<%= image_tag '../assets/battery0.png', style: 'width: 25px; height:50px;' %> / 
						<%= label_tag download_time.to_s + " times" %>
					<% when 20..39 %>
						<%= image_tag '../assets/battery20.png', style: 'width: 25px; height:50px;' %> / 
						<%= label_tag download_time.to_s + " times" %>
					<% when 40..59 %>
						<%= image_tag '../assets/battery40.png', style: 'width: 25px; height:50px;' %> / 
						<%= label_tag download_time.to_s + " times" %>
					<% when 50..79 %>
						<%= image_tag '../assets/battery60.png', style: 'width: 25px; height:50px;' %> / 
						<%= label_tag download_time.to_s + " times" %>
					<% when 80..99 %>
						<%= image_tag '../assets/battery80.png', style: 'width: 25px; height:50px;' %> / 
						<%= label_tag download_time.to_s + " times" %>
					<% when 100 %>
						<%= image_tag '../assets/battery100.png', style: 'width: 25px; height:50px;' %> / 
						<%= label_tag download_time.to_s + " times" %>
				<% end %>
			</p>		

		<% else %>
			<% if (user_signed_in?) && ((session[:storage].nil?) || (( session[:storage] )&& !( session[:storage].include? @project.id.to_s ))) %>
				<p style="text-align: right">
					<%= link_to image_tag("../assets/buy.png"), invoicedetails_path(project_id: @project.id), method: :post, title: t("project.show.buy_button") + " \""+@project.title+"\"", rel: 'tooltip' %>
				</p>
			<% end %>
		<% end %>
	</div>

	<% if !@attachments.empty? %>
		<% if @invoice %>			
			<ul>
	    	<% @attachments.each do |attachment| %>
	    		<li><%= link_to truncate(attachment.file_file_name, length: 50), download_attachment_projects_path(attachment_id: attachment.id, invoice_id: @invoice.id), method: :post, data: { confirm: "You have "+@invoice.download_time.to_s+" times to download. Do you want to download ?" }, :target => "_blank" %></li>
	    	<% end %>
	    </ul>
		<% else %>
			<%= label_tag t("project.show.this_project_has") + " " + @attachments.count.to_s + " " + t("project.show.attachments") %>
		<% end %>
	<% end %>
    
	<% if !@feedbacks.empty? %>
		<div>
			<h4><%= t("project.feedbacks") %></h4>

			<ul>
		    <% @feedbacks.each do |feedback| %>
		      <li>
		      	<%= feedback.user.first_name + " " + feedback.user.last_name + ": " %>
		      	<%= feedback.content %><br />
		      	<% if feedback.replies.count > 0 %>
		      		<ul>
			      		<% feedback.replies.each do |reply| %>
				      		<li>
				      			<%= reply.created_at.to_s() + ": " %><%= reply.content %>
				      		</li>
				      	<% end %>
			      	</ul>
		      	<% end %>
		      </li>
		    <% end %>
		    <br />
		    <%= paginate @feedbacks %>
		  </ul>
		</div>
	<% end %>	


	<br />
	<div>
		<% if user_signed_in? && !current_user.is_staff? %>
			<%= render "/feedbacks/form" %>
		<% end %>
	</div>

</div>