<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table style="width: 100%">
    <tr>
      <td>
        <%= t(:category) %>
      </td>
      <td>
        <%= f.select :procategory_id, options_for_select(Procategory.where(["status = ? and name != ?", true, '...']).map{|c| [c.name, c.id]}) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t("project.title") %>
      </td>
      <td>
        <%= f.text_area :title, style: "width: 100%;" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t("project.share") %>
      </td>
      <td>
        <%= f.check_box :share %>
        <%= t("project.public_project") %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t("project.price") %>
      </td>
      <td>
        <%= f.text_field :price %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t("project.photo") %>
      </td>
      <td>
        <%= f.file_field :photo %>
      </td>
    </tr>
  </table>
  <br />
  <div class="field">
    <%= t("project.discription") %><br>
    <div id="wmd-button-bar" class="wmd-panel"></div>
    <br/>
    <div>
      <%= f.text_area :description, :id => "wmd-input", :class => "wmd-panel" %>
    </div>
    <br/>
    <div id="wmd-preview" class="wmd-panel"></div>
    

  </div>

  <div class="actions" style="text-align: right; width: 100%;">
    <%= f.submit t("project.update_project"), class: "btn" %>
  </div>
<% end %>

<script type="text/javascript" src="wmd.js"></script>

  