<div class="post">
	<h2 class="title">
		<%= label_tag @project.title %>
	</h2>
	<h3 class="posted"><%= @project.created_at %></h3>
	<div class="story">
		<p>
			<%= raw(@project.description) %>
		</p>
	</div>

  <div style="text-align: right;">
    <%= link_to t(:edit_button), edit_project_path(@project) %> |
    <%= link_to t(:back_button), projects_path %>
  </div>
	

  <br />
  <br />
  <br />
  <br />

  <% if @attachments.count > 0 %>
    <table style="width: 100%;">
      <thead>
        <tr>
          <th><%= t("project.attachments") %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @attachments.each do |attachment| %>
          <tr>
            <td>
              <%= link_to truncate(attachment.file_file_name, length: 50), attachment.file.url, :target => "_blank" %>
            </td>
            <td style="text-align: right;"><%= link_to t(:destroy), attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %> 

  <br/>
  <br/>

  <%= link_to t("attachment.new_attachment"), new_attachment_path(@project), class: "btn" %>

	<div>
		<h4><%= t("project.feedbacks") %></h4>

		<ul>
	    <% @feedbacks.each do |feedback| %>
	      <li>
	      	<%= feedback.user.first_name + " " + feedback.user.last_name + ": " %>
	      	<%= link_to feedback.content, feedback %>
	      </li>
	    <% end %>
	    <br />
	    <%= paginate @feedbacks %>
  	</ul>

	</div>

</div>