<div style="text-align: center">
  <h3><strong><%= t("project.listing_project") %></strong></h3>
</div>

<table style="width: 100%;">
  <thead>
    <tr>
      <th style="width: 5%; text-align: center; border: 1px solid black; "> <%= t("invoice.stt") %> </th>
      <th style="width: 45%; text-align: center; border: 1px solid black; "><%= t("project.title") %></th>
      <th style="width: 23%; text-align: center; border: 1px solid black; "><%= t("project.category") %></th>
      <th style="width: 12%; border: 1px solid black;"><%= t("project.share") %></th>
      <th style="width: 15%; border: 1px solid black;" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td style="border: 1px solid black; text-align: center">
          <%= @flag += 1%>
        </td>
        <td style="border: 1px solid black;">
          <div style="margin-left: 5px;">
            <%= link_to truncate(project.title, length: 30), project, title: project.title, rel: "tootip" %>
          </div>          
        </td>  
        <td style="border: 1px solid black; text-align: center"><%= project.procategory.name %></td>
        <td style="text-align: center; border: 1px solid black;">
          <% if project.share %>
            <%= image_tag("../assets/unlock.png") %>
          <% else %>
            <%= image_tag("../assets/lock.png") %>
          <% end %>
        </td>
        <td style="border: 1px solid black;">
          <%= link_to image_tag("../assets/edit.png"), edit_project_path(project)%>
          <%= link_to image_tag("../assets/delete.png"), project, method: :delete, data: { confirm: 'Are you sure to destroy ' + project.title + ' ?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @projects %>

<br>

<%= link_to image_tag("../assets/new_project.png"), new_project_path %>