<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Share:</strong>
  <%= @project.share %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @project.status %>
</p>

<p>
  <strong>Price:</strong>
  <%= @project.price %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
