<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.is_staff? %>
    <div class="field">
      <%= f.label :project_id %><br>
      <%= f.number_field :project_id %>
    </div>
  <% end %>

  
  <div class="field">
    <%= t(:feedback_content) %><br>
    <%= f.text_area :content , style: "width: 100%; height: 200px"%>
  </div>

  <% if current_user.is_staff? %>
    <div class="field">
      <%= f.label :status %><br>
      <%= f.check_box :status %>
    </div>
  <% end %>
    
  <div class="actions">
    <%= f.submit t(:create_feedback_button)%>
  </div>
<% end %>
