<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @feedback.user.first_name + " " + @feedback.user.last_name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @feedback.project.title %>
</p>

<p>
  <strong>Feedback:</strong><br />
  <%= @feedback.content %>
</p>

<p>
	<ul>
		<% @replies.each do |reply| %>
			<li><%= truncate(reply.content, length: 100) %></li>
		<% end %>
	</ul>
</p>

<p>
	<strong>Reply:</strong>
	<%= render '/replies/form' %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
