<!DOCTYPE html>
<html>
<head>
  <title>Electricstoragev2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div id="logo">
    <h1><%= link_to "Electric Storage", root_path %></h1>
    
    <h2><a href="#">So Khoa Hoc va Cong Nghe</a></h2>
  </div>
  <div id="menu">
    <% if user_signed_in? && current_user.is_staff? %>
      <%= render '/shared/staff_navigate' %>
    <% else %>
      <%= render '/shared/customer_navigate' %>
    <% end %>
  </div>
</div>
<div id="content">
  <div id="colOne">
    <%= yield %>
  </div>
  <div id="colTwo">
    <ul>
      <li>
        <h2><span>Tiềm kiếm</span></h2>
        <form method="get" action="#">
          <div>
            <input type="text" id="textfield1" name="textfield1" value="" size="18" />
            <input type="submit" id="submit1" name="submit1" value="Search" />
          </div>
        </form>
      </li>

      <li>
        <h2>
          <span>Sign in</span>
        </h2>
        <ul>
          <li>
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, id: "flash_#{name}" %>
              <br />
            <% end %>            

            <div id="user_nav">
              <% if user_signed_in? %>
                <%= image_tag current_user.avatar.url(:small) %>
                <strong><%= current_user.email %></strong> <br />
                <%= link_to 'Edit profile', edit_user_registration_path %> |
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              <% else %>
                <%= link_to "Sign up", new_user_registration_path %> |
                <%= link_to "Login", new_user_session_path %>
              <% end %>
            </div>            
          </li>
        </ul>
      </li>

      <% procategories = Procategory.where(["status = ?", true]) %>
      <% if ( procategories.count > 0 ) %>
        <li>
          <h2><span>Categories</span></h2>        
          <ul>
            <% procategories.each do |pc| %>
              <li>
                <%= link_to pc.name, pc %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <li>
        <h2><span>Blogroll</span></h2>
        <ul>
          <li><a href="#">AnotherFriendlySite.net</a></li>
          <li><a href="#">CoolSite.com</a></li>
          <li><a href="#">MyBestFriend.com</a></li>
        </ul>
      </li>
      <li>
        <h2><span>Meta</span></h2>
        <ul>
          <li><a href="#" title="This page validates as XHTML 1.0 Transitional">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div style="clear: both;">&nbsp;</div>
</div>
<div id="footer">
  <p>SỞ KHOA HỌC VÀ CÔNG NGHỆ TỈNH BẾN TRE</p>
  <p>Địa chỉ: Số 280 đường 3/2- Phường 3 - Tp Bến Tre. | Điện thoại : 075.3827358 | Fax : 075.3823179 | Email: banbientap@dost-bentre.gov.vn</p>
</div>

</body>
</html>
