<!DOCTYPE html>
<html>
<head>
  <title>Electricstoragev2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <div id="logo" style="text-align: center">
    <h1><%= link_to "Electric Storage", root_path %></h1>
    
    <h2><a href="http://www.dost-bentre.gov.vn/">So Khoa Hoc va Cong Nghe</a></h2>
    <table style="width: 100%">
      <tr>
        <td style="font-size: 10px;">
          <%= link_to_unless_current image_tag('../assets/england-icon.png'), locale: "en" %><br />
          <%= label_tag "English" %>
        </td>
        <td style="font-size: 10px;">
          <%= link_to_unless_current image_tag('../assets/vietnam-icon.png'), locale: "vi" %><br />
          <%= label_tag "Tiếng Việt" %>
        </td>
      </tr>
    </table>      
  </div>
  <div id="menu">
    <% if user_signed_in? %>
      <% if current_user.is_staff? %>
        <%= render '/shared/staff_navigate' %>
      <% else %>
        <%= render '/shared/customer_navigate' %>
      <% end %>
    <% else %>
      <ul>
        <li class=<%if controller.controller_name == 'welcome'%> 'active' <%end%> >
          <%= link_to t(:home_nagivate_button), root_path, class: "menu" %>
        </li>
        <li class=<% if controller.controller_name == 'projects' %>'active'<% end %>>
          <%= link_to t(:project_navigate_button), projects_path, class: "menu" %>
        </li>
        <li class=<% if controller.controller_name == 'introduce' %> 'active' <% end %>>
          <%= link_to t(:introduce_navigate_button), introduce_index_path, class: "menu" %>
        </li>
        <li class=<% if controller.controller_name == 'contact' %> 'active' <% end %>>
          <%= link_to t(:contact_navigate_button), contact_index_path, class: "menu" %>
        </li>
      </ul>
    <% end %>

      
  </div>
</div>
<div id="content">
  <div id="colOne">
    <%= yield %>
  </div>
  <div id="colTwo">
    <ul>
      <li>
        <h2><span><%= t(:searching) %></span></h2>       

        <%= form_tag welcome_index_path, method: :get do %>          
          <table style="width: 100%">
            <tr>
              <td>
                <%= text_field_tag :search, params[:search], placeholder: t(:searching_project_placeholder), class: "search" %>
                <%= select_tag :procategory_id, options_from_collection_for_select(Procategory.where(["status = ?", true]), :id, :name, params[:procategory_id]), class: "search", prompt: t(:searching_all_categories_selection) %>
              <td>
              <td>
                <%= submit_tag t(:tooltip_search_button), class: "search-button"%>
              </td>
            </tr>
          </table>
          <a type="button" class="btn" href="#searching-form" data-toggle="modal", style="width: 100%; margin-top: 10px;">Deep Searching</a>
        <% end %>        
      </li>

      <li>
        <h2>
          <span><%= t(:sign_in) %></span>
        </h2>
        <ul>
          <li>
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, id: "flash_#{name}" %>
              <br />
            <% end %>            

            <div id="user_nav">
              <% if user_signed_in? %>
                <% if current_user.avatar_file_name %>
                  <%= image_tag current_user.avatar.url(:small)%>
                <% else %>
                  <%= image_tag "../assets/userAvatar.png" %>
                <% end %>
                <%= t(:welcome) %> <strong><%= current_user.first_name + " " + current_user.last_name %></strong> <br />
                <%= link_to t(:edit_profile_link), edit_user_registration_path, class: "btn" %>
                <%= link_to t(:logout_link), destroy_user_session_path, method: :delete, class: "btn" %>
              <% else %>
                <embed src="<%= asset_path("../assets/banner-new-fix.swf") %>", style="width: 180px; height: 180px"/>
                <a type="button" class="btn" href="#sign-up-form" data-toggle="modal"><%= t(:sign_up_link) %></a> <a type="button" class="btn" href="#login-form" data-toggle="modal"><%= t(:login_link) %></a>
              <% end %>
            </div>            
          </li>
        </ul>
      </li>

      <% if (session[:storage]) && (session[:storage].count > 0) %>
        <li>
          <h2>
            <span><%= t(:your_storage) + " (" + session[:storage].count.to_s + ")" %></span>
          </h2>
          <ul>
            <li>
              <table style="width: 100%">
                <tr>
                  <td>
                    <ul>
                      <% i = session[:storage].count %>
                      <% session[:storage][(i-2)..(i-1)].each do |id| %>
                        <li>
                          <% project = Project.find(id) %>
                          <table style="width: 100%">
                            <tr>
                              <td>
                                <%= link_to truncate(project.title, length: 20), project %>
                              </td>
                              <td style="text-align: right">
                                <%= link_to "x", remove_project_out_invoice_invoices_path(project_id: project.id), method: :post, data: { confirm: "Do you really want to remove project \"" + project.title + "\"" } %>
                              </td>
                            </tr>
                          </table>
                        </li>                        
                      <% end %>
                      <% if session[:storage].count > 2 %>
                        <li>
                          <table style="width: 100%">
                            <tr>
                              <td style="text-align: right">
                                <%= link_to "show all ...", new_invoice_path %>
                              </td>
                            </tr>
                          </table>                          
                        </li>
                      <% end %>                      
                  </td>
                </tr>
                <tr>
                  <td style="text-align: right;">
                    <%= link_to image_tag("../assets/payment.png"), new_invoice_path %>
                  </td>
                </tr>
              </table>              
            </li>            
          </ul>
        </li>
      <% end %>

      <% father = Procategory.where(["status = ? and procategory_id = ?", true, 0]).first %>
      <% procategories = father.procategories %>
      <% if ( procategories.count > 0 ) %>
        <li>
          <h2><span><%= t(:categories) %></span></h2>        
          <ul>
            <% procategories.each do |pc| %>
              <li>
                <%= link_to pc.name, pc %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
  <div style="clear: both;">&nbsp;</div>
</div>
<div id="footer">
  <p>SỞ KHOA HỌC VÀ CÔNG NGHỆ TỈNH BẾN TRE</p>
  <p>Địa chỉ: Số 280 đường 3/2- Phường 3 - Tp Bến Tre. | Điện thoại : 075.3827358 | Fax : 075.3823179 | Email: banbientap@dost-bentre.gov.vn</p>
</div>


<div class="modal fade" id="sign-up-form">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3><%= t("user.registration.signup") %></h3>
  </div>
  <div class="modal-body">
    <div class="pop-singup">
      <%= render "/devise/registrations/form", resource: User.new, resource_name: 'user' %>
    </div>    
  </div>
</div>

<div class="modal fade" id="login-form">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3><%= t(:sign_in) %></h3>
  </div>
  <div class="modal-body">
    <div class="pop-singup">
      <%= render "/devise/sessions/form", resource: User.new, resource_name: 'user' %>
    </div>    
  </div>
</div>

<div class="modal fade" id="searching-form">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Projects Searching</h3>
  </div>
  <div>
    <div class="pop-singup">
      <%= image_tag "../assets/searching-lable.png", style: "width: 100%;" %>

      <%= form_tag welcome_index_path, method: :get do %>    

        <%= text_field_tag :title, params[:title], class: "search", style: "width: 100%;", placeholder: "Project's title" %><br />
        <%= text_area_tag :description, params[:description], style: "width: 100%; height: 200px;", placeholder: "Project's description" %><br />
        <%= text_field_tag :min_price, params[:min_price], style: "width: 49%;", placeholder: "Min Price" %> <%= text_field_tag :max_price, params[:max_price], style: "width: 49%;", placeholder: "Max Price" %><br />
        <%= select_tag :procategory_id, options_from_collection_for_select(Procategory.where(["status = ? and level != ?", true, 0]).order(:ddc), :id, :full_name, params[:procategory_id]), class: "search", prompt: t(:searching_all_categories_selection), style: "width: 100%;" %>

        <%= submit_tag t(:tooltip_search_button), class: "button", style: "margin-top: 20px;"%>
      <% end %> 

    </div>    
  </div>
</div>



</body>
</html>
